<!-- <h2>{{question.Enonce}}</h2> -->
<div class="buttons">
    <button mat-button mat-mini-fab color="green" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  
  </div>
  <div>
    <mat-grid-list cols="6">
      <mat-grid-tile colspan="6" rowspan="5">
        <div class="tile">
          <div>
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>
    
          </div>
    
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- <ng-container matColumnDef="$key">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.$key}} </td>
            </ng-container> -->
        
            <!-- Progress Column -->
            
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name </th>
              <td mat-cell *matCellDef="let row"> {{getClient(row.Name)}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="Start">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Start </th>
              <td mat-cell *matCellDef="let row"> {{row.Start}} </td>
            </ng-container>
         <!-- Name Column -->
         <ng-container matColumnDef="End">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> End </th>
          <td mat-cell *matCellDef="let row"> {{row.End}} </td>
        </ng-container>
          
            <!-- Fruit Column -->
            <ng-container matColumnDef="voiture">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Voiture </th>
              <td mat-cell *matCellDef="let row"> {{getvoiture(row.voiture)}}</td>
            </ng-container>
              <!-- Fruit Column -->
            
              <ng-container matColumnDef="nujours">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de jours </th>
                <td mat-cell *matCellDef="let row"> {{row.nujours}} </td>
              </ng-container>
              
              <ng-container matColumnDef="prixj">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>prix par jour </th>
                <td mat-cell *matCellDef="let row"> {{getprixj(row.voiture)}}</td>
              </ng-container>
              <ng-container matColumnDef="Prix">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix </th>
                <td mat-cell *matCellDef="let row"> {{getprix(row.voiture,row.nujours)}} Dhs</td>
              </ng-container>

  
            <ng-container matColumnDef="Edit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header mat-button style="width:70px;padding: 15px ;"> Edit </th>
              
              <td mat-cell *matCellDef="let row"  style="width:70px;padding-left:15px;">
                <button mat-mini-fab color="accent" (click)="editDialog(row.$key)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

          
            
            <!-- Delete -->
            <ng-container matColumnDef="Delete">
              <th mat-header-cell *matHeaderCellDef mat-sort-header mat-button style="width:70px;padding: 15px ;"> Delete </th>
              <td mat-cell *matCellDef="let row"  style="width:70px;padding-left:15px;">
                <button mat-mini-fab color="warn" (click)="deletebooking(row)">
                  
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="Facture">
              <th mat-header-cell *matHeaderCellDef mat-sort-header mat-button style="width:70px;padding: 15px ;"> Facture </th> 
              <td mat-cell *matCellDef="let row"  style="width:70px;padding-left:15px;">
                <button mat-mini-fab style="background-color: blue;color: azure;" [routerLink]="['/Facture', row.$key]">
                  <mat-icon>print</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
<router-outlet></router-outlet>