<h1 mat-dialog-title></h1>
<!-- <button mat-button [mat-dialog-close]="" cdkFocusInitial><mat-icon>close</mat-icon>></button> -->
<div mat-dialog-content>
  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()"> 
    

    <mat-form-field appearance="fill">
        <mat-label>Name of client</mat-label>
        <mat-select formControlName="Name">
          <mat-option  *ngFor="let client of clients" [value]="client.$key" >{{client.Id}} : {{client.Name}}</mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Start</mat-label>
        <input matInput type="date" formControlName="Start">
    </mat-form-field> 
    <mat-form-field appearance="fill">
        <mat-label>End</mat-label>
        <input matInput type="date" formControlName="End">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Voiture</mat-label>
        <mat-select formControlName="Rec">
            <mat-option  *ngFor="let voiture of planeTickets" [value]="voiture.$key" >{{voiture.marque}} : {{voiture.modele}}</mat-option>
          </mat-select>   
         </mat-form-field>
  
    <button mat-button color="primary">Enregistrer</button>
    <button mat-button type="button" (click)="onNoClick()">Annuler</button>
  </form>
  <!-- <div mat-dialog-actions>
  </div> -->
</div>