<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body> 
        <!-- header -->
        <header class = "header" id = "header">
            <div class = "head-bottom flex">
                <h2>Bienvenue Sur Votre Application de Gestion</h2>
                <p>à travers notre application vous aurez la capabilité de gérer la totalité des opération de vos hôtels ou résidences.<br>
                    Nous mettons à votre disposition les meilleures technologies avancées afin de vous faciliter votre vie de gestion </p>
                <button type = "button" class = "head-btn" [routerLink]="'/client'">Commencer</button>
            </div>
        </header>
        <!-- end of header -->
    </body>
</html>