<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body> 
        <!-- header -->
        <header class = "header" id = "header">
            <div class = "head-bottom flex">
                <h2>Bienvenue Sur Votre Application de Gestion</h2>
                <p>à travers notre application vous aurez la capabilité de gérer la totalité des opération de vos Agences.<br>
                    Nous mettons à votre disposition les meilleures technologies avancées afin de vous faciliter votre vie de gestion </p>
                    <div style="height:110px; display: flex;justify-content: center;">
                        <button type = "button" class = "head-btn" [routerLink]="'/Clients'" style="margin: 30px;">Gestion de la clientèle</button>
                        <button type = "button" class = "head-btn" [routerLink]="'/Voitures'"style="margin: 30px;">Réservez votre voiture</button>
                        <button type = "button" class = "head-btn" [routerLink]="'/Reservation'"style="margin: 30px;">Gestion des véhicules</button>
                    </div>
            
            </div>
            
        </header>
        <!-- end of header -->
    </body>
</html>