<h1 mat-dialog-title></h1>
<!-- <button mat-button [mat-dialog-close]="" cdkFocusInitial><mat-icon>close</mat-icon>></button> -->
<div mat-dialog-content>
  <form [formGroup]="voitureForm" (ngSubmit)="onSubmit()"> 
    

    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
          <mat-option  *ngFor="let type of types" [value]="type" >{{type}}</mat-option>
      </mat-select>   
  </mat-form-field> 
    
    <mat-form-field appearance="fill">
      <mat-label>Marque</mat-label>
      <input matInput formControlName="marque">
  </mat-form-field> 

  <mat-form-field appearance="fill">
    <mat-label>Model</mat-label>
    <input matInput formControlName="modele">
</mat-form-field> 
      <mat-form-field appearance="fill">
        <mat-label>Puissance</mat-label>
        <input matInput formControlName="puissance">
    </mat-form-field> 

    <mat-form-field appearance="fill">
      <mat-label>prix_location</mat-label>
      <input matInput formControlName="prix_location">
  </mat-form-field> 
 

    <mat-form-field appearance="fill">
        <mat-label>Categorie</mat-label>
        <mat-select formControlName="Categorie">
            <mat-option  *ngFor="let categorie of categories" [value]="categorie" >{{categorie}}</mat-option>
        </mat-select>   
    </mat-form-field>
    
    
    <button mat-button color="primary">Enregistrer</button>
    <button mat-button type="button" (click)="onNoClick()">Annuler</button>
  </form>
  <!-- <div mat-dialog-actions>
  </div> -->
</div>