<h1 mat-dialog-title></h1>
<!-- <button mat-button [mat-dialog-close]="" cdkFocusInitial><mat-icon>close</mat-icon>></button> -->
<div mat-dialog-content>
  <form [formGroup]="planeTicketForm" (ngSubmit)="onSubmit()"> 
    

    <mat-form-field appearance="fill">
        <mat-label>Name of client</mat-label>
        <mat-select formControlName="Name">
          <mat-option  *ngFor="let client of clients" [value]="client.$key" >{{client.Id}} : {{client.Name}}</mat-option>
        </mat-select>
      </mat-form-field>
    
    
    <mat-form-field appearance="fill">
        <mat-label>Depart</mat-label>
        <mat-select formControlName="Depart">
     <mat-option  *ngFor="let destination of destinations" [value]="destination" >{{destination}}</mat-option>
     </mat-select>
  </mat-form-field> 
    <mat-form-field appearance="fill">
        <mat-label>Arrivee</mat-label>
        <mat-select formControlName="Arrivee">
         <mat-option  *ngFor="let destination of destinations" [value]="destination" >{{destination}}</mat-option>
         </mat-select>
    </mat-form-field>
    <!-- Name Column -->
    <mat-form-field appearance="fill">
        <mat-label>Start</mat-label>
        <input matInput type="date" formControlName="Start">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>End</mat-label>
        <input matInput type="date" formControlName="End">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Categorie</mat-label>
        <mat-select formControlName="Categorie">
            <mat-option  *ngFor="let categorie of categories" [value]="categorie" >{{categorie}}</mat-option>
        </mat-select>   
    </mat-form-field>
    
    
    <button mat-button color="primary">Enregistrer</button>
    <button mat-button type="button" (click)="onNoClick()">Annuler</button>
  </form>
  <!-- <div mat-dialog-actions>
  </div> -->
</div>