<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item (click)="sidenav.toggle()" mat-list-item>
              <mat-icon>close</mat-icon>
            </a>
            <a mat-list-item routerLink="" routerLinkActive="list-item-active">
              <mat-icon>home</mat-icon> Home</a>
            <a mat-list-item routerLink="/client" routerLinkActive="list-item-active">
              <mat-icon>account_box</mat-icon> Client</a>
              <a mat-list-item routerLink="/planeTicket" routerLinkActive="list-item-active">
                <mat-icon>directions_car</mat-icon> Voitures</a>
            <a mat-list-item routerLink="/booking" routerLinkActive="list-item-active">
              <mat-icon>hotel </mat-icon> Booking </a>
              
          
          </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Start Toolbar -->
      <div class="app-toolbar-top">
        <!-- <app-toolbar [title]="urlFragments"></app-toolbar> -->
        <mat-toolbar color="primary" role="heading" style="background:gray;">
            <mat-toolbar-row class="justify-content-between">
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <span *ngFor="let t of title">
              <!-- <button mat-button [routerLink]="[ './' + t ]">{{ t | titlecase }}</button> | -->
              <button mat-button>{{ t | titlecase }}</button> | </span>
              
            </mat-toolbar-row>
          </mat-toolbar>
          
      </div>
      <!-- Start Rouer Outlet -->
      <div class="router">
        <router-outlet></router-outlet>
      </div>
  
    </mat-sidenav-content>
  </mat-sidenav-container>
  